[Unit]
Description = Api Service
After = sshd.service

[Service]
Type = simple
User = root
Group = root
ExecStart = /bin/sh -c "sudo bash /opt/HaoYao/ArmControl/run.sh"

[Install]
WantedBy = multi-user.target
