[Unit]
Description = Robot Practical Training Server Service
After = rc.local.service

[Service]
Type = simple
User = root
Group = root
ExecStart = /bin/sh -c "sudo bash /opt/HaoYao/GrabImage/run.sh"
Restart = always

[Install]
WantedBy = multi-user.target
